<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/css/myTable.css">
<!-- <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"> -->

<div class="row">
    <ul class="nav nav-tabs" style="list-style-type:none;">
        <li class="active" class="col-lg-4 col-md-4" style="width: 33.33%;">
            <a data-toggle="tab" href="#tab1">
                <div >
                    <div class="panel panel-primary">
                        <div class="panel-heading" id="patientsInRooms">
                            <div class="row">
                                <div class="col-xs-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="80" height="80" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg" id="XMLID_74_"><g id="XMLID_118_"><path id="XMLID_214_" d="m430.5 254.5h-202.5v-54.833c0-21.689-17.645-39.334-39.333-39.334h-33.333c-7.761 0-14.451-4.607-17.525-11.221 15.188-4.979 26.191-19.281 26.191-36.112v-59.25c0-5.522-4.477-10-10-10h-18v-23.75h18c5.523 0 10-4.477 10-10s-4.477-10-10-10h-144c-5.523 0-10 4.477-10 10v492c0 5.522 4.477 10 10 10h40c5.523 0 10-4.478 10-10v-482h56v23.75h-18c-5.523 0-10 4.478-10 10v59.25c0 17.864 12.395 32.88 29.033 36.921 4.053 17.403 19.681 30.412 38.3 30.412h33.333c10.661 0 19.333 8.673 19.333 19.334v56.042c-9.827 2.221-18.54 7.41-25.134 14.584-8.753-14.542-24.69-24.293-42.865-24.293h-8c-27.57 0-50 22.43-50 50 0 11.248 3.735 21.638 10.027 30h-.027c-5.523 0-10 4.478-10 10v166c0 5.522 4.477 10 10 10h48c5.523 0 10-4.478 10-10v-108h102c5.523 0 10-4.478 10-10s-4.477-10-10-10h-112c-5.523 0-10 4.478-10 10v108h-28v-146h390v146h-28v-108c0-5.522-4.477-10-10-10h-112c-5.523 0-10 4.478-10 10s4.477 10 10 10h102v108c0 5.522 4.477 10 10 10h48c5.523 0 10-4.478 10-10v-166c0-44.94-36.56-81.5-81.5-81.5zm-390.5 237.5h-20v-472h20zm104-428.25v20h-36v-20zm-36 49.25v-9.25h36v9.25c0 9.925-8.075 18-18 18s-18-8.075-18-18zm24 213c-16.542 0-30-13.458-30-30s13.458-30 30-30h8c16.542 0 30 13.458 30 30s-13.458 30-30 30zm58 0v-22.75c0-15.853 12.897-28.75 28.75-28.75h211.75c30.506 0 55.897 22.328 60.688 51.5z" fill="#ffffff" data-original="#000000" style="" class=""/><path id="XMLID_230_" d="m352 88h18v18c0 5.522 4.477 10 10 10h40c5.523 0 10-4.478 10-10v-18h18c5.523 0 10-4.478 10-10v-40c0-5.522-4.477-10-10-10h-18v-18c0-5.523-4.477-10-10-10h-40c-5.523 0-10 4.477-10 10v18h-18c-5.523 0-10 4.478-10 10v40c0 5.522 4.477 10 10 10zm10-40h18c5.523 0 10-4.478 10-10v-18h20v18c0 5.522 4.477 10 10 10h18v20h-18c-5.523 0-10 4.478-10 10v18h-20v-18c0-5.522-4.477-10-10-10h-18z" fill="#ffffff" data-original="#000000" style="" class=""/><path id="XMLID_231_" d="m297 374c-2.63 0-5.21 1.069-7.07 2.93-1.86 1.86-2.93 4.44-2.93 7.07s1.07 5.21 2.93 7.069c1.86 1.86 4.44 2.931 7.07 2.931s5.21-1.07 7.07-2.931c1.86-1.859 2.93-4.439 2.93-7.069s-1.07-5.21-2.93-7.07c-1.86-1.861-4.44-2.93-7.07-2.93z" fill="#ffffff" data-original="#000000" style="" class=""/></g></g></g></svg>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div id="patients-with-rooms-live" class="huge"></div>
                                    <div>Patients in Isolaion</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </li>

        <li class="" class="col-lg-4 col-md-4" style="width: 33.33%;">
            <a data-toggle="tab" href="#tab2">
                <div >
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="80" height="80" x="0" y="0" viewBox="0 0 64 64" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><g xmlns="http://www.w3.org/2000/svg"><path d="m32 23c6.065 0 11-4.935 11-11s-4.935-11-11-11-11 4.935-11 11 4.935 11 11 11zm-8.941-12c.193-1.733.88-3.316 1.916-4.611l1.368 1.368 1.414-1.414-1.368-1.368c1.295-1.036 2.878-1.723 4.611-1.916v1.941h2v-1.941c1.733.193 3.316.88 4.611 1.916l-1.368 1.368 1.414 1.414 1.368-1.368c1.036 1.295 1.723 2.878 1.916 4.611h-1.941v2h1.941c-.193 1.733-.88 3.316-1.916 4.611l-1.368-1.368-1.414 1.414 1.368 1.368c-1.295 1.036-2.878 1.723-4.611 1.916v-1.941h-2v1.941c-1.733-.193-3.316-.88-4.611-1.916l1.368-1.368-1.414-1.414-1.368 1.368c-1.036-1.295-1.723-2.878-1.916-4.611h1.941v-2z" fill="#ffffff" data-original="#000000" style="" class=""/><path d="m62 37h-1v-1c0-1.654-1.346-3-3-3h-3v-3c0-1.654-1.346-3-3-3h-8c-1.654 0-3 1.346-3 3v3h-2v-3c0-1.654-1.346-3-3-3h-8c-1.654 0-3 1.346-3 3v3h-2v-3c0-1.654-1.346-3-3-3h-8c-1.654 0-3 1.346-3 3v3h-3c-1.654 0-3 1.346-3 3v1h-1c-.552 0-1 .448-1 1v10c0 2.414 1.721 4.434 4 4.899v8.101h-2v2h10v-2h-2v-8h18v8h-2v2h10v-2h-2v-8h18v8h-2v2h10v-2h-2v-8.101c2.279-.465 4-2.484 4-4.899v-10c0-.552-.448-1-1-1zm-4-2c.551 0 1 .449 1 1v1h-1c-.552 0-1 .448-1 1v9h-2v-1c0-1.302-.839-2.402-2-2.816v-2.369c1.161-.414 2-1.514 2-2.816v-3h3zm-7 8h-6v-2h6zm-7 2h8c.551 0 1 .449 1 1v1h-10v-1c0-.551.449-1 1-1zm-1-15c0-.551.449-1 1-1h8c.551 0 1 .449 1 1v8c0 .551-.449 1-1 1h-8c-.551 0-1-.449-1-1zm-2 5v3c0 1.302.839 2.402 2 2.816v2.369c-1.161.414-2 1.514-2 2.816v1h-2v-1c0-1.302-.839-2.402-2-2.816v-2.369c1.161-.414 2-1.514 2-2.816v-3zm-6 8h-6v-2h6zm-7 2h8c.551 0 1 .449 1 1v1h-10v-1c0-.551.449-1 1-1zm-1-15c0-.551.449-1 1-1h8c.551 0 1 .449 1 1v8c0 .551-.449 1-1 1h-8c-.551 0-1-.449-1-1zm-2 5v3c0 1.302.839 2.402 2 2.816v2.369c-1.161.414-2 1.514-2 2.816v1h-2v-1c0-1.302-.839-2.402-2-2.816v-2.369c1.161-.414 2-1.514 2-2.816v-3zm-6 8h-6v-2h6zm-7 2h8c.551 0 1 .449 1 1v1h-10v-1c0-.551.449-1 1-1zm-1-15c0-.551.449-1 1-1h8c.551 0 1 .449 1 1v8c0 .551-.449 1-1 1h-8c-.551 0-1-.449-1-1zm-6 6c0-.551.449-1 1-1h3v3c0 1.302.839 2.402 2 2.816v2.369c-1.161.413-2 1.513-2 2.815v1h-2v-9c0-.552-.448-1-1-1h-1zm4 25h-2v-8h2zm24 0h-2v-8h2zm22 0v-8h2v8zm6-13c0 1.654-1.346 3-3 3h-52c-1.654 0-3-1.346-3-3v-9h2v9c0 .552.448 1 1 1h52c.552 0 1-.448 1-1v-9h2z" fill="#ffffff" data-original="#000000" style="" class=""/><path d="m33 12v-5h-2v4h-4v2h5c.552 0 1-.448 1-1z" fill="#ffffff" data-original="#000000" style="" class=""/></g></g></svg>

                                </div>
                                <div class="col-xs-9 text-right">
                                    <div id="patients-waiting-live" class="huge"></div>
                                    <div>Pending Test Reports</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </li>

        <li class="" class="col-lg-4 col-md-4" style="width: 33.33%;">
            <a data-toggle="tab" href="#tab3">
                <div>
                    <div class="panel panel-orange">
                        <div class="panel-heading" id="freeRooms">
                            <div class="row">
                                <div class="col-xs-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="80" height="80" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path xmlns="http://www.w3.org/2000/svg" d="m492 196c-11.046875 0-20 8.953125-20 20v70h-236c0-44.113281-35.886719-80-80-80h-76c-14.566406 0-28.222656 3.933594-40 10.761719v-113.761719c0-11.046875-8.953125-20-20-20s-20 8.953125-20 20v389c0 11.046875 8.953125 20 20 20s20-8.953125 20-20v-66h312c11.046875 0 20-8.953125 20-20s-8.953125-20-20-20h-312v-60h432v58h-20c-11.046875 0-20 8.953125-20 20s8.953125 20 20 20h20v68c0 11.046875 8.953125 20 20 20s20-8.953125 20-20v-276c0-11.046875-8.953125-20-20-20zm-412 50h76c22.054688 0 40 17.945312 40 40h-156c0-22.054688 17.945312-40 40-40zm252-156c0-11.046875 8.953125-20 20-20h50v-50c0-11.046875 8.953125-20 20-20s20 8.953125 20 20v50h50c11.046875 0 20 8.953125 20 20s-8.953125 20-20 20h-50v50c0 11.046875-8.953125 20-20 20s-20-8.953125-20-20v-50h-50c-11.046875 0-20-8.953125-20-20zm0 0" fill="#ffffff" data-original="#000000" style="" class=""/></g></svg>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div id="free-rooms-live" class="huge"></div>
                                    <div> Available wards</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <!-- Table with patients in rooms-->
        <div style="padding-left:0px;" class="col-lg-12 col-md-12 tab-pane fade in active" id="tab1">
            <div class="col-md-6">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search patients by name">
                <table id="myTable">
                    <tr class="header">
                        <th style="width:25%;"><span class="fa fa-hospital-o fa-fw" style="color: black;"></span>no.</th>
                        <th style="width:45%;">Patients in Isolation</th>
                        <th style="width:15%;">Room</th>
                        <th style="width:15%;">Score</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Alfred M.</td>
                        <td>12</td>
                        <td>83</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Jill Smith </td>
                        <td>21</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Maria Gomez.</td>
                        <td>45</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Grace Lancaster</td>
                        <td>29</td>
                        <td>130</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Mike Hannigan</td>
                        <td>139</td>
                        <td>89</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Ziva Mishra</td>
                        <td>45</td>
                        <td>67</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>Yashi Sharma</td>
                        <td>35</td>
                        <td>2</td>
                    </tr>
                </table>
            </div>
             <!-- Rooms manage -->
            <div class="col-md-5 col-lg-5" style="border:2px solid #1e7874; margin-top: 50px; margin-left:30px;">
                <!-- Add new room -->
                 <form action="/app/addpatient" method="post">
                    <!-- First name input -->
                    <div class="form-group row" style="padding-top: 1.5rem;">
                        <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">First Name</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input id="first-name" class="form-control" style="width: 100%;" type="text" name="firstName" required="true" placeholder="Enter first name...">
                        </div>
                    </div>

                    <!-- Last name input -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Last Name</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input class="form-control" style="width: 100%;" type="text" name="lastName" required="true" placeholder="Enter last name...">
                        </div>
                    </div>

                    <!-- Hospital number input -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Hospital no.</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input class="form-control" style="width: 100%;" type="text" name="hospitalNumber" required="true" placeholder="Enter Hospital no...">
                        </div>
                    </div>

                    <!-- Date of birth -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Date of birth</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <input class="form-control" style="width: 100%;" type="text" name="dateOfBirth" required="true" placeholder="DD/MM/YYYY">
                        </div>
                    </div>

                    <!-- Sex -->
                    <div class="form-group row">
                        <label class="col-sm-3 col-md-3 col-lg-3 col-form-label">Sex</label>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-success active" style="margin:0px; background-color: #1e7874 ">
                                <input id="male-radio" type="radio" name="sex" value="male" autocomplete="off" checked>Male
                            </label>
                            <label class="btn btn-success" style="margin:0px;">
                                <input id="female-radio" type="radio" name="sex" value="female" autocomplete="off"> Female
                            </label>
                            </div>
                        </div>
                    </div>

                    <table id="add-new-patient" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <!-- JavaScript works here! -->
                    </table>
                    <input class="btn btn-success" style="float: right; margin-bottom:1.5rem;" type="Submit" name="Submit" value="Add patient">
                </form>
            </div>


        </div>

        <!-- Table with patients waiting to get a room-->
        <div class="col-lg-12 col-md-12 tab-pane fade" id="tab2">
            
            <table id="patients-waiting" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
        </div>

        <!-- Table with free rooms-->
        <div style="padding-right:0px;" class="col-lg-12 col-md-12 tab-pane fade" id="tab3">
            <div class="col-md-6">
                <table id="free-rooms" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
            </div>
            <!-- Rooms manage -->
            <div class="col-md-5 col-lg-5" style=" border:2px solid #1e7874; margin-top: 50px; margin-left:30px;" >
                <!-- Add new room -->
                <div class="row" style="padding-right: 30px; padding-left: 30px;padding-bottom: 1.5rem; ">
                    <h4 class="" style="margin-top: 1.5rem; font-weight: bold">Add new room in the system</h4>
                    <form action="/app/addroom" method="post">
                        <div class="form-group row ">
                            <label class="col-sm-5 col-md-5 col-lg-5 col-form-label">Room name</label>
                            <div class="col-sm-7 col-md-7 col-lg-7">
                                <input class="form-control" style="width: 100%;" type="text" name="roomName" required="true" placeholder="Enter new room name...">
                            </div>
                        </div>

                        <input class="btn btn-success" style="float: right;" type="Submit" name="Submit" value="Add room">
                    </form>
                </div>

                <!-- Delete rooms -->
                <div class="row" style="padding: 1.5rem 30px;">
                    <h4 style="margin-top: 0px; font-weight: bold;">Delete rooms from the system</h4>
                    <form action="/app/deleterooms" method="post">
                        <div id="rooms-table_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer"><div class="row"><div class="col-sm-6"></div><div class="col-sm-6"><div id="rooms-table_filter" class="dataTables_filter"><label><input type="search" class="form-control input-sm" placeholder="Search room..." aria-controls="rooms-table"></label></div></div></div><div class="row"><div class="col-sm-12"><div class="dataTables_scroll"><div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;"><div class="dataTables_scrollHeadInner" style="box-sizing: content-box; width: 243px; padding-right: 0px;"><table class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%" role="grid" style="margin-left: 0px; width: 243px;"><thead><tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="rooms-table" rowspan="1" colspan="1" style="width: 96px;" aria-sort="ascending" aria-label="Room: activate to sort column descending">Room</th><th class="sorting" tabindex="0" aria-controls="rooms-table" rowspan="1" colspan="1" style="width: 48px;" aria-label="Select: activate to sort column ascending">Select</th></tr></thead></table></div></div><div class="dataTables_scrollBody" style="position: relative; overflow: auto; max-height: 40vh; width: 100%;"><table id="rooms-table" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%" role="grid" style="width: 100%;"><thead><tr role="row" style="height: 0px;"><th class="sorting_asc" aria-controls="rooms-table" rowspan="1" colspan="1" style="width: 96px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-sort="ascending" aria-label="Room: activate to sort column descending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Room</div></th><th class="sorting" aria-controls="rooms-table" rowspan="1" colspan="1" style="width: 48px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="Select: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">Select</div></th></tr></thead>
                            <!-- JavaScript works here! -->
                        <tbody><tr role="row" class="odd"><td class="sorting_1">67</td><td><input type="checkbox" name="RD[]" value="67"></td></tr><tr role="row" class="even"><td class="sorting_1">cancer</td><td><input type="checkbox" name="RD[]" value="cancer"></td></tr><tr role="row" class="odd"><td class="sorting_1">covid 19 room</td><td><input type="checkbox" name="RD[]" value="covid 19 room"></td></tr><tr role="row" class="even"><td class="sorting_1">covid 19 room 2</td><td><input type="checkbox" name="RD[]" value="covid 19 room 2"></td></tr><tr role="row" class="odd"><td class="sorting_1">Emergency Room</td><td><input type="checkbox" name="RD[]" value="Emergency Room"></td></tr><tr role="row" class="even"><td class="sorting_1">General ward </td><td><input type="checkbox" name="RD[]" value="General ward "></td></tr><tr role="row" class="odd"><td class="sorting_1">General ward 2</td><td><input type="checkbox" name="RD[]" value="General ward 2"></td></tr><tr role="row" class="even"><td class="sorting_1">headache room</td><td><input type="checkbox" name="RD[]" value="headache room"></td></tr><tr role="row" class="odd"><td class="sorting_1">Special Ward</td><td><input type="checkbox" name="RD[]" value="Special Ward"></td></tr></tbody></table></div></div></div></div><div class="row"><div class="col-sm-5"></div><div class="col-sm-7"></div></div></div>

                        <input class="btn btn-success" style="float: right; margin-top: 1.5rem;" type="Submit" name="Submit" value="Delete rooms">
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>



<!-- <script type="text/javascript" src="/js/jquery-1.12.4.js"></script> -->
<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="/scripts/dashboard.js"></script>
<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
